.mainContainer {
  background-color: rgba(255, 255, 255, 0.96);
  margin: 0 0 100px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 5px 24px rgba(149, 157, 165, 0.4);
  z-index: 22;
}


.flex{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  
}



.container {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  height: 40px;
  padding: 15px 110px;
  width: 75%;
  
}

.container span {
  margin: auto 0;
  position: relative;

}

.container span input{
  width: 260px;
  font-family: inherit;
  font-size: 12px;
  height: 32px;
  border: 2px solid #1a73e8;
  border-radius: 10px;
  padding: 0 20px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.98);
}



.container span img{
  position: absolute;
  right: 10px;
  top: 8px;
  height: 20px;
  font-size: 20px;
  cursor: pointer;
} 


.productLink img{
  width: 40px;
  transition: .5s ease-in-out;

}

.iconContainer {
  position: relative;
  transition: .5s ease-in-out;

}

.iconContainer:hover, .productLink img:hover{
  transform: scale(1.1);
}


.iconContainer img {
  width: 40px;
  color: #1a73e8;
  margin: 0 10px;
}

.iconContainer span {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: #0b499b;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0.75rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
}


.logins{
  width: 25%;
  margin: 15px 50px;  
}

.login{
  display: flex;
  align-items: center;
  width: 120px;
  border: 1px solid #0b499b;
  border-radius: 5px;
  padding: 5px ;
}

.login :first-child{
  font-size: 14px;
  color: #0b499b;
  text-decoration: none;
  margin-right: 5px;
  
}

.login :nth-child(3){
  font-size: 14px;
  color: #0b499b;
  text-decoration: none;
  margin-left: 5px;
  position: relative;

}
.login img{
  width: 19px;
  position: absolute;
  top: 2px;
  left: 37px;
}


@media (max-width: 1200px) {
  .container {
    padding: 15px 80px;
  }
  .container span input{
    width: 150px;
  }
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
  

  .login{
    width: 96px;
  }
  .login :first-child, .login :nth-child(3), .login p{
    font-size: 11px;
  }
  .login img{
    width: 11px;
    top: 3px;
    left: 32px;
  }

}

@media (max-width: 555px) {
  .logins{
    margin: 15px 30px;
  }
  .login{
    width: 67px;
  }
  .login :first-child, .login :nth-child(3), .login p{
    font-size: 9px;
  }
  .login img{
    display: none;
  }
}
