.container {
    width: auto;
    border: 1px solid silver;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 10px 50px;
    transition: all 0.2s ease;
    text-align: center;
    padding: 10px 15px;
}