.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 50px;
    padding:0 50px;
    background-color: #f9f9f9;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 910px) {
  .container {
    grid-template-columns: repeat(2, auto);
    
  }
}

@media (max-width: 640px) {
  .container {
    grid-template-columns: repeat(1, auto);
    padding:0 20px;
    
  }
}

@media (max-width: 340px) {
  .container {
    padding:0 5px;
  }
}